{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('CSS/Projet_Detail.css') }}">
  <!-- <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}"> -->
{% endblock %}
{% block body %}
    <section id="section">
    <div id="Service_Banner">
      </div>
      <div id="Projet_Corp">
        <div id="Projet_nav">
        <a href="{{ path('projets') }}"><i class="fa fa-th-large" aria-hidden="true"></i></a>
          <div id="Projet_arrow">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div id="Bloc_ID">
          <h2>{{ projet.nom }}</h2>
          <h3>{{ projet.type }}</h3>
          <hr/>
        </div>
          {% if not projet.techno.empty %}


        <div id="Bloc_Techno">
          <p>Technologie utilisés :</p>
          <div id="Techno_List">
              {% for techno in projet.techno %}
                <img src="{{ asset(techno.path) }}" style="width: 30px;">
              {% endfor %}
          </div>
        </div>
          {% endif %}
        <div id="Bloc_Date">
          <p>Date de sortie : {{ projet.dateSortie|date() }}</p>
          <p id="Date_Value"></p>
        </div>
        <div id="Bloc_Description">
          <p>{{ projet.presentation }}</p>
        </div>

        <div id="Bloc_Slider">
          <button class='toggle' data-toggle='prev'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
            <div class='container'>
              <ul class='carousel is-set'>
                <li class='carousel-seat'>
                  <h2>1</h2>
                </li>
                <li class='carousel-seat'>
                  <h2>2</h2>
                </li>
                <li class='carousel-seat'>
                  <h2>3</h2>
                </li>
                <li class='carousel-seat'>
                  <h2>4</h2>
                </li>
                <li class='carousel-seat'>
                  <h2>5</h2>
                </li>
                <li class='carousel-seat is-ref'>
                  <h2>6</h2>
                </li>
              </ul>
            </div>
          <button class='toggle' data-toggle='next'><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>

        <div id="Bloc_Link">
          <a href="{{ projet.url }}">Voir le projet<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </section>
    {% block javascripts %}
      <script src="{{ asset ('js/Projet_Detail.js') }}"></script>
    {% endblock %}
{% endblock %}
