{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('CSS/Projet_Detail.css') }}">
  <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css') }}">
{% endblock %}
{% block body %}
    <section>
      <h2 id="Projet_Banner">
        <img src="http://www.placehold.it/1280x200" alt="Banniere projet"/>
      </h2>
      <div id="Projet_Corp">
        <div id="Bloc_ID">
          <h2>{{ projet.nom }}</h2>
          <h3>{{ projet.type }}</h3>
          <hr/>
        </div>
          {% if not projet.techno.empty %}


        <div id="Bloc_Techno">
          <p>Technologie utilisés :</p>
          <div id="Techno_List">
              {% for techno in projet.techno %}
                <img src="{{ asset(techno.path) }}" style="width: 30px;">
              {% endfor %}
          </div>
        </div>
          {% endif %}
        <div id="Bloc_Date">
          <p>Date de sortie : {{ projet.dateSortie|date() }}</p>
          <p id="Date_Value"></p>
        </div>
        <div id="Bloc_Description">
          <p>{{ projet.presentation }}</p>
        </div>
        <div class="row CarouselModalAction">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="myCarousel" class="carousel slide col-xs-12 col-sm-12 col-md-12 col-lg-12 test7" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  {% if not projet.media.empty %}
                      {% for media in projet.media %}
                        <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"></li>
                      {% endfor %}
                  {% endif %}
              </ol>

              <!-- Wrapper for slides -->

              <div class="carousel-inner centrageD">
                <div class="item active" style="width: 100%;">
                  <img class="ImageActionCarouselModal d-block img-fluid" src="{{ asset('img/1.jpg') }}" alt="Los Angeles">
                </div>
                  {% if not projet.media.empty %}
                      {% for media in projet.media %}
                        <div class="item" style="width: 100%;">
                          <img  class="ImageActionCarouselModal d-block img-fluid" src="{{ asset(media.path) }}">
                        </div>
                      {% endfor %}
                  {% endif %}

              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background: none;">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next" style="background: none;">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
        <div id="Bloc_Link">
          <a href="{{ projet.url }}">Voir le projet</a>
        </div>
        <div id="Bloc_Retour">
          <a href="{{ path('projets') }}">Retour au portfolio</a>
        </div>
      </div>
    </section>
{% endblock %}
