{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Services.css') }}">
{% endblock %}
{% block body %}
    <section>
        <div id="Service_Banner">
        </div>
        <div id="Bloc_Service_Content">
            <div class="Bloc_Service_case" id="Bloc_Web">
                <h2>Site Web</h2>
                <div class="Service_Plus"><a href="{{ path('web_detail') }}">En savoir plus...</a></div>
            </div>
            <div class="Bloc_Service_case" id="Bloc_Audiovisuel">
                <h2>Audiovisuel</h2>
                <div class="Service_Plus"><a href="{{ path('audiovisuel_detail') }}">En savoir plus...</a></div>
            </div>
            <div class="Bloc_Service_case" id="Bloc_Social">
                <h2>Réseaux Sociaux</h2>
                <div class="Service_Plus"><a href="{{ path('reseau_detail') }}">En savoir plus...</a></div>
            </div>
            <div class="Bloc_Service_case" id="Bloc_Graphique">
                <h2>Charte Graphique</h2>
                <div class="Service_Plus"><a href="{{ path('graphic_detail') }}">En savoir plus...</a></div>
            </div>
            <div class="Bloc_Service_case" id="Bloc_Materiel">
                <h2>Matériel</h2>
                <div class="Service_Plus"><a href="{{ path('materiel_detail') }}">En savoir plus...</a></div>
            </div>
        </div>
    </section>
{% endblock %}
