{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/Web_Detail.css') }}">
{% endblock %}
{% block body %}
    <section>
    <div id="Service_Banner">
    </div>
      <nav id="Service_Nav">
        <ul>
          <li id="Web"><a href="#" id="Service_Current">Site Web</a></li>
          <li id="Audiovisuel"><a href="{{ path('audiovisuel_detail') }}">Audiovisuel</a></li>
          <li id="Social"><a href="{{ path('reseau_detail') }}">Reseaux Sociaux</a></li>
          <li id="Graphic"><a href="{{ path('graphic_detail') }}">Charte Graphique</a></li>
          <li id="Materiel"><a href="{{ path('materiel_detail') }}">Materiel</a></li>
        </ul>
      </nav>
      <div id="Service_Web">
        <div id="Estimation_link">
          <a href="Estimation.html">Faire une estimation</a>
        </div>



        <div id="Bloc_Slider">
                    <div class='container'>
                      <ul class='carousel is-set'>

                        <li class='carousel-seat'>
                        <div class="service_header">
                        <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Pourquoi avoir un site internet ?</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="Service_Section_Content">
                          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                          </div>
                        </li>

                        <li class='carousel-seat'>
                        <div class="service_header">
                          <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Expérience Utilisateur (UX)</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="Service_Section_Content">
                          <ul>
                            <li>Adapter à votre projet</li>
                            <li>Correspond à vos besoins</li>
                            <li>Ergonomique</li>
                            <li>Navigation intuitif</li>
                            <li>Augmentation de l'attractivité</li>
                            <li>Durée de visite accrue</li>
                          </ul>
                        </div>
                        </li>

                        <li class='carousel-seat'>
                        <div class="service_header">
                          <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Responsive</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                          </div>
                          </div>
                          <div class="Service_Section_Content">
                          <ul>
                            <li>PC</li>
                            <li>TV</li>
                            <li>Tablette</li>
                            <li>Smartphone</li>
                          </ul>
                        </div>
                        </li>

                        <li class='carousel-seat'>
                        <div class="service_header">
                          <i class="fa fa-user" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Qui vous correspond</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="Service_Section_Content">
                          <ul>
                            <li>Vitrine / Portfolio</li>
                            <li>E-Commerce</li>
                            <li>Blog</li>
                            <li>Smartphone</li>
                          </ul>
                          </div>
                        </li>

                        <li class='carousel-seat'>
                        <div class="service_header">
                          <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Technologies modernes</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="Service_Section_Content">
                          <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Prestashop</li>
                            <li>CMS: Wordpress/Drupal</li>
                          </ul>
                          </div>
                        </li>

                        <li class='carousel-seat'>
                        <div class="service_header">
                          <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Maintenance</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="Service_Section_Content">
                          <ul>
                            <li>SAV</li>
                            <li>Hebergement</li>
                            <li>SEO</li>
                          </ul>
                          </div>
                          </li>

                        <li class='carousel-seat is-ref'>
                        <div class="service_header">
                          <i class="fa fa-pencil" aria-hidden="true" id="ico_header"></i>
                          <div class="service_header_title">
                            <i class="fa fa-chevron-left toggle" data-toggle='prev' aria-hidden="true"></i>
                            <h2>Refferencement (SEO) et publicité</h2>
                            <i class="fa fa-chevron-right toggle" data-toggle='next' aria-hidden="true"></i>
                            </div>
                          </div>
                          <div class="Service_Section_Content">
                          <ul>
                            <li>Optimisation du référencement de votre site</li>
                            <li>Votre site dans les premiere pages sur Google</li>
                            <li>Formation au référencement</li>
                          </ul>
                          <ul>
                            <li>Diffusion d'annonces</li>
                            <li>Ajout de pub sur votre site</li>
                            <li>Newsletter</li>
                          </ul>
                          </div>
                        </li>

                      </ul>
                    </div>
                </div>
        </div>
      </div>
      </div>
    </section>
    {% block javascripts %}
      <script src="{{ asset ('js/Projet_Detail.js') }}"></script>
    {% endblock %}
    {% endblock %}
