{% extends "::layout/layout.html.twig" %}
{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/Graphic_Detail.css') }}">
{% endblock %}
{% block body %}
    <section>
    <div id="Service_Banner">
    </div>
      <nav id="Service_Nav">
        <ul>
          <li id="Web"><a href="{{ path('web_detail') }}">Site Web</a></li>
          <li id="Audiovisuel"><a href="{{ path('audiovisuel_detail') }}">Audiovisuel</a></li>
          <li id="Social"><a href="{{ path('reseau_detail') }}">Reseaux Sociaux</a></li>
          <li id="Graphic_Current"><a href="#" id="Service_Current">Charte Graphique</a></li>
          <li id="Materiel"><a href="{{ path('materiel_detail') }}">Materiel</a></li>
        </ul>
      </nav>
      <p>A venir</p>
    </section>
{% endblock %}
