<!DOCTYPE html>
<html>
<head>
    <title>Prisma - A propos</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('CSS/Fixe.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <div id="Header_content">
      <div id="Prisma_Logo">
        <img src="http://www.placehold.it/50x50" alt="Logo Prisma"/>
        <h1>Com4up</h1>
      </div>
      <nav id="Main_Nav">
        <ul>
            <li><a href="{{ asset('app_dev.php/index') }}">Accueil</a></li>
            <li><a href="{{ asset('app_dev.php/services') }}">Services</a></li>
            <li><a href="{{ asset('app_dev.php/projets') }}">Projets</a></li>
            <li><a href="{{ asset('app_dev.php/equipe') }}">Equipe</a></li>
            <li><a href="{{ asset("app_dev.php/a_propos") }}">A propos</a></li>
            <li><a href="{{ asset('app_dev.php/contact') }}">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div id="Border_Header">
      <hr id="Border_Header_left"/>
      <hr id="Border_Header_middle"/>
      <hr id="Border_Header_right"/>
    </div>
</header>
{% block body %}{% endblock %}

<footer>
    <div id="Footer_Prisma">
        <h2>Prisma</h2>
        <p>Agence Web / audiovisuel, accompagnant votre entreprise vers le numerique.</p>
    </div>
    <div id="Footer_contact">
        <h2>Contact</h2>
        <p>Adresse</p>
        <p>Mail</p>
        <p>Telephone</p>
    </div>
    <div id="Footer_Social">
        <h2>Social</h2>
        <div class="Equipe_Social">
            <img src="http://www.placehold.it/50x50" alt="Icone Facebook">
            <img src="http://www.placehold.it/50x50" alt="Icone Twitter">
            <img src="http://www.placehold.it/50x50" alt="Icone Instagram">
            <img src="http://www.placehold.it/50x50" alt="Icone Youtube">
        </div>
    </div>
    <div id="Footer_Legal">
        <h2>Legal</h2>
        <p>Mention Legale</p>
        <p>Copyright</p>
    </div>
</footer>
<script src="{{ asset ('js/jquery.js') }}"></script>
<script src="{{ asset ('js/bootstrap.js') }}"></script>
<script src="{{ asset ('js/MultiCaroussel.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
